# Pandas
- Pandas is an open-source library that is made mainly for working with relational or labeled data both easily and intuitively.
- It provides various data structures and operations for manipulating numerical data and time series.
- This library is built on top of the NumPy library.
- Pandas is fast and it has high performance & productivity for users.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\excelr\appdata\local\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\excelr\appdata\local\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\excelr\appdata\local\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\excelr\appdata\local\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\excelr\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\excelr\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
#import pandas
import pandas as pd

In [5]:
pandas.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [9]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [11]:
DataFrame()

NameError: name 'DataFrame' is not defined

In [ ]:
#Load external file into jupyter notebook

In [13]:
pd.read_csv("bank.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'bank.csv'

In [15]:
pd.read_csv("C:\Users\ExcelR\Desktop\Aishwarya\New folder\Datasets\bank.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2786477869.py, line 1)

In [17]:
pd.read_csv(r'C:\Users\ExcelR\Desktop\Aishwarya\New folder\Datasets\bank.csv')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,2,0,0,1,1,0,0,20,0,257,1,-1,0,3,0
11158,39,7,1,1,0,733,0,0,2,16,6,83,4,-1,0,3,0
11159,32,9,2,1,0,29,0,0,0,19,1,156,2,-1,0,3,0
11160,43,9,1,1,0,0,0,1,0,8,8,9,2,172,5,0,0
11161,34,9,1,1,0,0,0,0,0,9,5,628,1,-1,0,3,0

In [19]:
pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Boston.csv')

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [21]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Salaries.csv')
df

         rank discipline  phd  service  gender  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
#Reading first 5 records

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
#Extracting only column names

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
#Extracting multiple columns from dataframe

In [ ]:
df['rank']

In [ ]:
df[['rank','phd','gender']]

In [ ]:
#Descriptive stats for df

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.boxplot()
plt.show()

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
#Extract records from 30 to 35 from service to salary column

df.loc[30:35,'service':'salary']

In [ ]:
df.iloc[30:35,3:5]

In [ ]:
#unique Values and their frequency

In [ ]:
df['rank'].unique()

In [ ]:
df['gender'].unique()

In [ ]:
df['rank'].nunique()

In [ ]:
df['rank'].value_counts()

# Pandas Filtering and Groupby

In [ ]:
df.head()

In [ ]:
#Extract records where gender = female

In [ ]:
df['gender'] == 'Female'

In [ ]:
df[df['gender'] == 'Female']

In [ ]:
df

In [ ]:
df[df['salary'] > 80000]

In [ ]:
#Gender is female and salary is greater than 150000

df[(df['gender']=='Female') & (df['salary'] > 150000)]

In [ ]:
df[(df['gender'] == 'Female') | (df['salary'] > 150000)]

In [ ]:
#What is the average salary of rank prof?

In [ ]:
df['salary'].mean()

In [ ]:
df['rank'].value_counts()

In [ ]:
df[df['rank'] == 'Prof']['salary'].mean()

In [ ]:
#Average salary of prof rank and gender is Male

In [ ]:
df[(df['rank'] == "Prof") & (df['gender'] == 'Female')]['salary'].mean()

In [ ]:
print(df[df['rank'] == 'Prof']['salary'].mean())
print(df[df['rank'] == 'AssocProf']['salary'].mean())
print(df[df['rank'] == 'AsstProf']['salary'].mean())

In [ ]:
#Grouby aggregate method

In [ ]:
df.groupby('rank')['salary'].mean()

In [ ]:
df.groupby('rank')['salary'].agg({'mean','median','min','max'})

# Task

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/nba.csv')

In [ ]:
df

In [ ]:
# Extract the data where Team is boston celtics and Weight is less than 100
#What is the avearge salary of players of team 'Los Angeles Lakers'.
#What is the average salary of player based of various position?
#Which players belong to 'San Diego State' college.
#Which player from Toronto Raptors team has the highest salary?